.hero{
    background: url(../img/kamioni.jpg);
    background-position-y: -18rem;
    background-size:cover;
    background-repeat: no-repeat;

    height: 90vh;
}

.hero_cover{
    background-color: rgba(0, 0, 0, 0.35);
    height:100%;
}

.hero_relative{
    position:relative;
    height:100%;
}

.hero .hero_button{
    position:absolute;
    top:70%;
    left:0%;
}

.hero .hero_button:not(:last-of-type){
    margin-top: 11.5rem;
}